.card {
  padding: 20px;
  margin: 20px;
  height: 500px;
}

#partner-card{
  height: 13rem;
  padding-bottom: 90px;
}
/* add borderless card */
.join-us-btn, .get-recommendation-btn {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #217df5;
  border: none;
}
#partners-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  height: 30px;
}



#join-us-button {
  text-align: center;
  padding: 20px;
}

#recommendation-button {
  margin-top: 20px;
}

img {
    width: 50px;
    height: 50px;
  }

  .text-center {
    text-align: center;
    padding: 30px;
  }

  .data-label {
    text-align: left;
}

.data-flex-container{
    display: flex;
    width: 80%;
  }
  .data-label{
    width: 17%;
  }

  #fetch-data {
    margin-top: 20px;
    margin-left: 20px;
    background-color: #217df5;
    border: none;
  }